<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression">

<!-- in this case we don't need to specify every class one by one, just include package-->
    <test name="Vytrack regression tests">
        <parameter name="test" value="regression"></parameter>
        <packages>
            <package name="tests.vytrack"></package>
        </packages>
    </test>
</suite>



