<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression" parallel="classes" thread-count="10">

<!-- in this case we don't need to specify every class one by one, just include package-->
    <test name="Vytrack regression tests">

        <packages>
            <package name="tests.day10"></package>

        </packages>

        <classes>
            <class name="tests.day11.WaitsPractice"/>
        </classes>
    </test>
</suite>



